*.ids
*.ipr
*.iws
*.DS_Store
.classpath
.idea
.gradle
out
target
derby.log
.project
.settings
CodeNarcReport.html
.env
build/
.sass-cache
.sass-work
.slcache
coverage
cobertura.ser
node_modules
*.mv.db
application-development.yml
